{% extends 'cloud_robotics_app/base.html' %} 

{% block title %}{{ robot.robot_name }} | {% endblock %} 

{% block content %}

<div class="bg-gray-200 font-sans">
  <div class="flex p-4 justify-center items-center">
    <!-- Robot Info Component -->
    <div class="mx-1 h-[800px]">
      <div
        class="bg-[#397974] shadow text-white h-full w-80 rounded-xl border-2"
      >
        <div class="m-3">
          <img
            class="h-64 w-full rounded-md"
            src="{{ robot.robot_icon.url }}"
            alt=""
            srcset=""
          />
        </div>
        <div class="m-3 font-bold text-center text-4xl whitespace-normal">
          {{ robot.robot_name }}
        </div>
        <div class="m-3 text-lg whitespace-normal">
          Type: {{ robot.robot_type }}
        </div>
        <div class="m-3 text-lg whitespace-normal">
          Status:
          <p id="connection-status"></p>
        </div>
        <div class="flex flex-col items-center">
          <button
            class="bg-white w-3/4 rounded-md p-2.5 m-3 text-[#397974] font-bold text-base hover:bg-[#68c7bd] hover:text-white"
          >
            Connect
          </button>
          <button
            class="bg-white w-3/4 rounded-md p-2.5 m-3 text-[#397974] font-bold text-base hover:bg-[#68c7bd] hover:text-white"
          >
            Disconnect
          </button>
        </div>
      </div>
    </div>

    <!-- Tabs of Video Frame and Maps -->
    <div class="mx-1 w-[950px]">
      <div
        class="bg-[#397974] rounded-xl flex items-center justify-center w-[950px] h-[800px]"
      >
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
          <div class="flex">
            <button
              class="tablinks flex-1 px-6 py-4 text-center font-semibold text-white hover:bg-[#68c7bd] focus:outline-none"
              onclick="mytabs(event, 'VideoFrame')"
              id="defaultOpenVideoFrame"
            >
              Video Frame
            </button>
            <button
              class="tablinks flex-1 px-6 py-4 text-center font-semibold text-white hover:bg-[#68c7bd] focus:outline-none"
              onclick="mytabs(event, 'Maps')"
              id="defaultOpenMaps"
            >
              Maps
            </button>
          </div>

          <div class="tabcontent hidden p-6" id="VideoFrame">
            <div
              class="mx-auto w-[890px] h-[685px] rounded-xl border-2 border-[#397974] bg-white p-4"
            >
              <div class="flex justify-center items-center">
                <img
                  id="frameImage"
                  src=""
                  alt="No video source found."
                  class="w-[940px] h-[650px] object-cover rounded-xl"
                />
              </div>
            </div>
          </div>

          <div class="tabcontent hidden p-6" id="Maps">
            <div
              class="mx-auto w-[890px] h-[682px] rounded-xl border-2 border-[#397974] bg-white p-4"
            >
              <div class="flex justify-center items-center">
                <div id="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d863837.1984212036!2d65.9589786734375!3d32.248285700652424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1699733619356!5m2!1sen!2s"
                    class="w-[860px] h-[645px]"
                    style="border: 0"
                    allowfullscreen
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-1 flex flex-col w-[550px]">
      <!-- Data Display Component -->
      <div class="h-[450px] mb-1">
        <div
          class="h-full w-full rounded-xl border-2 border-[#397974] bg-white p-4"
        >
          <div class="mb-2 text-center font-bold text-2xl text-black">
            Sensor Readings
          </div>
          <table class="min-w-full overflow-hidden">
            <thead class="bg-[#397974] text-white">
              <tr>
                <th class="py-2 px-4 text-left">Global Position</th>
                <th class="py-2 px-4">latitude</th>
                <th class="py-2 px-4">longitude</th>
                <th class="py-2 px-4">altitude</th>
              </tr>
            </thead>
            <tbody class="text-gray-700">
              <tr>
                <td class="py-2 px-4">Global Position</td>
                <td class="py-2 px-4 text-center">
                  <span id="global_position_lat"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="global_position_long"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="global_position_alt"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="my-2 min-w-full overflow-hidden">
            <thead class="bg-[#397974] text-white">
              <tr>
                <th class="py-2 px-4 text-left">Orientation</th>
                <th class="py-2 px-4">roll</th>
                <th class="py-2 px-4">pitch</th>
                <th class="py-2 px-4">yaw</th>
              </tr>
            </thead>
            <tbody class="text-gray-700">
              <tr>
                <td class="py-2 px-4">Orientation</td>
                <td class="py-2 px-4 text-center">
                  <span id="euler_orientation_rol"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="euler_orientation_pit"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="euler_orientation_yaw"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="my-2 min-w-full overflow-hidden">
            <thead class="bg-[#397974] text-white">
              <tr>
                <th class="py-2 px-4 text-left">Odometry</th>
                <th class="py-2 px-4">x</th>
                <th class="py-2 px-4">y</th>
                <th class="py-2 px-4">z</th>
              </tr>
            </thead>
            <tbody class="text-gray-700">
              <tr>
                <td class="py-2 px-4">Local Position</td>
                <td class="py-2 px-4 text-center">
                  <span id="local_position_x"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="local_position_y"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="local_position_z"></span>
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4">Linear Velocity</td>
                <td class="py-2 px-4 text-center">
                  <span id="linear_velocity_vx"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="linear_velocity_vy"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="linear_velocity_vz"></span>
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4">Angular Velocity</td>
                <td class="py-2 px-4 text-center">
                  <span id="angular_velocity_wx"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="angular_velocity_wy"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="angular_velocity_wz"></span>
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4">Linear Acceleration</td>
                <td class="py-2 px-4 text-center">
                  <span id="linear_acceleration_ax"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="linear_acceleration_ay"></span>
                </td>
                <td class="py-2 px-4 text-center">
                  <span id="linear_acceleration_az"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Controls Component -->
      <div class="h-[350px] mt-1">
        <div
          class="h-full w-full rounded-xl border-2 border-[#397974] bg-white p-4"
        >
          <div class="justify-center items-center">
            <div class="flex flex-col justify-center items-center mb-4">
              <div class="my-4 font-bold text-2xl text-black">
                Control Panel
              </div>
              <div class="flex p-4">
                <div></div>
                <button
                  id="upBtn"
                  class="bg-gray-400 w-14 h-14 rounded-full justify-center items-center"
                >
                  <i class="material-icons text-white">arrow_upward</i>
                </button>
                <div></div>
              </div>
              <div class="p-4">
                <button
                  id="leftBtn"
                  class="bg-gray-400 w-14 h-14 rounded-full mx-4"
                >
                  <i class="material-icons text-white object-right-bottom"
                    >rotate_left</i
                  >
                </button>
                <button
                  id="stopBtn"
                  class="bg-gray-400 w-14 h-14 rounded-full mx-4"
                >
                  <i class="material-icons text-white">stop</i>
                </button>
                <button
                  id="rightBtn"
                  class="bg-gray-400 w-14 h-14 rounded-full mx-4"
                >
                  <i class="material-icons text-white">rotate_right</i>
                </button>
              </div>
              <div class="p-4">
                <div></div>
                <button id="downBtn" class="bg-gray-400 w-14 h-14 rounded-full">
                  <i class="material-icons text-white">arrow_downward</i>
                </button>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} 
{{ robot.robot_slug|json_script:"json-robotname" }}

<script>

  const urlWebRobot = `ws://${window.location.host}/ws/tb3/`;
  console.log("the websocket url for Web Robot is", urlWebRobot);
  const webRobotSocket = new WebSocket(urlWebRobot);

  webRobotSocket.onopen = function (e) {
    console.log("Websocket for Web Robot Opened");
  };

  webRobotSocket.onmessage = function (e) {
    let data = JSON.parse(e.data);
    console.log("Data from Web Robot:", data);

    document.getElementById("local_position_x").textContent = data.local_position.x;
    document.getElementById("local_position_y").textContent = data.local_position.y;
    document.getElementById("local_position_z").textContent = data.local_position.z;

    document.getElementById("global_position_lat").textContent = data.global_position.latitude;
    document.getElementById("global_position_long").textContent = data.global_position.longitude;
    document.getElementById("global_position_alt").textContent = data.global_position.altitude;

    document.getElementById("euler_orientation_rol").textContent = data.euler_orientation.roll;
    document.getElementById("euler_orientation_pit").textContent = data.euler_orientation.pitch;
    document.getElementById("euler_orientation_yaw").textContent = data.euler_orientation.yaw;

    document.getElementById("linear_velocity_vx").textContent = data.linear_velocity.vx;
    document.getElementById("linear_velocity_vy").textContent = data.linear_velocity.vy;
    document.getElementById("linear_velocity_vz").textContent = data.linear_velocity.vz;

    document.getElementById("angular_velocity_wx").textContent = data.angular_velocity.wx;
    document.getElementById("angular_velocity_wy").textContent = data.angular_velocity.wy;
    document.getElementById("angular_velocity_wz").textContent = data.angular_velocity.wz;

    document.getElementById("linear_acceleration_ax").textContent = data.linear_acceleration.ax;
    document.getElementById("linear_acceleration_ay").textContent = data.linear_acceleration.ay;
    document.getElementById("linear_acceleration_az").textContent = data.linear_acceleration.az;

    if (data.video.frame !== null) {
      const frameImageElement = document.getElementById("frameImage");
      frameImageElement.src = "data:image/jpeg;base64," + data.video.frame; // Assuming the frame is in JPEG format
    }


    // switch (data.type) {
    //   case "robotdata":
    //     document.getElementById("local_position_x").textContent = data.local_position.x;
    //     document.getElementById("local_position_y").textContent = data.local_position.y;
    //     document.getElementById("local_position_z").textContent = data.local_position.z;

    //     document.getElementById("global_position_lat").textContent = data.global_position.latitude;
    //     document.getElementById("global_position_long").textContent = data.global_position.longitude;
    //     document.getElementById("global_position_alt").textContent = data.global_position.altitude;

    //     document.getElementById("euler_orientation_rol").textContent = data.euler_orientation.roll;
    //     document.getElementById("euler_orientation_pit").textContent = data.euler_orientation.pitch;
    //     document.getElementById("euler_orientation_yaw").textContent = data.euler_orientation.yaw;

    //     document.getElementById("linear_velocity_vx").textContent = data.linear_velocity.vx;
    //     document.getElementById("linear_velocity_vy").textContent = data.linear_velocity.vy;
    //     document.getElementById("linear_velocity_vz").textContent = data.linear_velocity.vz;

    //     document.getElementById("angular_velocity_wx").textContent = data.angular_velocity.wx;
    //     document.getElementById("angular_velocity_wy").textContent = data.angular_velocity.wy;
    //     document.getElementById("angular_velocity_wz").textContent = data.angular_velocity.wz;

    //     document.getElementById("linear_acceleration_ax").textContent = data.linear_acceleration.ax;
    //     document.getElementById("linear_acceleration_ay").textContent = data.linear_acceleration.ay;
    //     document.getElementById("linear_acceleration_az").textContent = data.linear_acceleration.az;

    //     if (data.video.frame !== null) {
    //       const frameImageElement = document.getElementById("frameImage");
    //       frameImageElement.src = "data:image/jpeg;base64," + data.video.frame; // Assuming the frame is in JPEG format
    //     }

      
    //   case "cmd_vel":
        
    //   default:
    //     // console.log("This is default")
    // }
    
  };

  function display_data(data) {
    document.getElementById("local_position_x").textContent = data.local_position.x;
    document.getElementById("local_position_y").textContent = data.local_position.y;
    document.getElementById("local_position_z").textContent = data.local_position.z;

    document.getElementById("global_position_lat").textContent = data.global_position.latitude;
    document.getElementById("global_position_long").textContent = data.global_position.longitude;
    document.getElementById("global_position_alt").textContent = data.global_position.altitude;

    document.getElementById("euler_orientation_rol").textContent = data.euler_orientation.roll;
    document.getElementById("euler_orientation_pit").textContent = data.euler_orientation.pitch;
    document.getElementById("euler_orientation_yaw").textContent = data.euler_orientation.yaw;

    document.getElementById("linear_velocity_vx").textContent = data.linear_velocity.vx;
    document.getElementById("linear_velocity_vy").textContent = data.linear_velocity.vy;
    document.getElementById("linear_velocity_vz").textContent = data.linear_velocity.vz;

    document.getElementById("angular_velocity_wx").textContent = data.angular_velocity.wx;
    document.getElementById("angular_velocity_wy").textContent = data.angular_velocity.wy;
    document.getElementById("angular_velocity_wz").textContent = data.angular_velocity.wz;

    document.getElementById("linear_acceleration_ax").textContent = data.linear_acceleration.ax;
    document.getElementById("linear_acceleration_ay").textContent = data.linear_acceleration.ay;
    document.getElementById("linear_acceleration_az").textContent = data.linear_acceleration.az;

    if (data.video.frame !== null) {
      const frameImageElement = document.getElementById("frameImage");
      frameImageElement.src = "data:image/jpeg;base64," + data.video.frame; // Assuming the frame is in JPEG format
    }


  }

  const upButton = document.getElementById('upBtn');
  upButton.addEventListener("click", () => {
      console.log("Up Button clicked")
      message = {
          'cmdtype': "cmd_vel",
          'data': {
              linear_x: 0.4,
              linear_y: 0,
              linear_z: 0,
              angular_x: 0,
              angular_y: 0,
              angular_z: 0,
          }
      }
      webRobotSocket.send(JSON.stringify(message))
      console.log(message)
      console.log("JSON Message sent")
  });

  const downButton = document.getElementById('downBtn');
  downButton.addEventListener("click", () => {
      console.log("Down Button clicked")
      message = {
          'cmdtype': "cmd_vel",
          'data': {
              linear_x: -0.4,
              linear_y: 0,
              linear_z: 0,
              angular_x: 0,
              angular_y: 0,
              angular_z: 0,
          }
      }
      webRobotSocket.send(JSON.stringify(message))
      console.log(message)
      console.log("JSON Message sent")
  });

  const leftButton = document.getElementById('leftBtn');
  leftButton.addEventListener("click", () => {
      console.log("Left Button clicked")
      message = {
          'cmdtype': "cmd_vel",
          'data': {
              linear_x: 0,
              linear_y: 0,
              linear_z: 0,
              angular_x: 0,
              angular_y: 0,
              angular_z: 0.2,
          }
      }
      webRobotSocket.send(JSON.stringify(message))
      console.log(message)
      console.log("JSON Message sent")
  });

  const rightButton = document.getElementById('rightBtn');
  rightButton.addEventListener("click", () => {
      console.log("Right Button clicked")
      message = {
          'cmdtype': "cmd_vel",
          'data': {
              linear_x: 0,
              linear_y: 0,
              linear_z: 0,
              angular_x: 0,
              angular_y: 0,
              angular_z: -0.2,
          }
      }
      webRobotSocket.send(JSON.stringify(message))
      console.log(message)
      console.log("JSON Message sent")
  });

  const stopButton = document.getElementById('stopBtn');
  stopButton.addEventListener("click", () => {
      console.log("Stop Button clicked")
      message = {
          'cmdtype': "cmd_vel",
          'data': {
              linear_x: 0,
              linear_y: 0,
              linear_z: 0,
              angular_x: 0,
              angular_y: 0,
              angular_z: 0,
          }
      }
      webRobotSocket.send(JSON.stringify(message))
      console.log(message)
      console.log("JSON Message sent")
  });

  
  function mytabs(evt, tabname) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].classList.remove("bg-[#68c7bd]", "text-white");
    }
    document.getElementById(tabname).style.display = "block";
    evt.currentTarget.classList.add("bg-[#68c7bd]", "text-white");
  }

  // Get the element with id="defaultOpenVideoFrame" and click on it
  document.getElementById("defaultOpenVideoFrame").click();
</script>

{% endblock %}