{% extends 'RosWebApp/base.html' %}

{% block title %}{{ robot.robot_name }} |{% endblock %}

{% block content %}

<div class="font-sans">
    
    <!-- Tabs Section -->
    <div class="bg-white border shadow-md rounded-lg overflow-hidden m-4 h-[820px]">
    
        <!-- Tab Links -->
        <div class="bg-gray-200">
            <button class="tablink flex-1 rounded-t-lg p-2 focus:outline-none" onclick="df_tabs(event, 'LiveScan')" id="defaultOpenLiveScan">Live Scan</button>
            <button class="tablink flex-1 rounded-t-lg p-2 focus:outline-none" onclick="df_tabs(event, 'LiveSpectrum')" id="defaultOpenLiveSpectrum">Live Spectrum</button>
            <button class="tablink flex-1 rounded-t-lg p-2 focus:outline-none" onclick="df_tabs(event, 'ScanHistory')" id="defaultOpenScanHistory">Scan History</button>
        </div>

        <div class="tabcontents hidden p-1" id="LiveScan">
            <div class="flex gap-1 justify-center h-[770px]">
                <svg id="polarScatterPlot"></svg>
                <!-- <canvas id="radarChart"></canvas> -->
                <!-- <div class="bg-teal-600 h-[770px] flex items-center justify-center rounded-lg">
                    <div class="w-[1700px] rounded-lg border-2 border-gray-700 bg-white">
                      <canvas id="LineChart"></canvas>
                    </div>
                </div> -->
                <div class="bg-gray-700 w-2/6">
                    <div class="text-white text-2xl text-center py-24">
                        <div>Current Heading:</div>
                        <div>15° N</div>
                    </div>
                    <div class="flex flex-col">
                        <button class="bg-stone-200 p-2 my-1 mx-4 rounded-full">Arm/Disarm</button>
                        <button class="bg-stone-200 p-2 my-1 mx-4 rounded-full">Auto</button>
                        <button class="bg-stone-200 p-2 my-1 mx-4 rounded-full">Manual</button>
                    </div>
                    <div class="text-center my-4">
                        <div class="justify-center items-center">
                            <div class="flex flex-col justify-center items-center mb-4">
                                <div class="flex p-4">
                                    <div></div>
                                    <button id="upBtn" class="bg-stone-200 w-14 h-14 rounded-full justify-center items-center">
                                        <i class="material-icons text-black">arrow_upward</i>
                                    </button>
                                    <div></div>
                                </div>
                                <div class="p-4">
                                    <button id="leftBtn" class="bg-stone-200 w-14 h-14 rounded-full mx-4">
                                        <i class="material-icons text-black object-right-bottom">rotate_left</i>
                                    </button>
                                    <button id="stopBtn" class="bg-stone-200 w-14 h-14 rounded-full mx-4">
                                        <i class="material-icons text-black">stop</i>
                                    </button>
                                    <button id="rightBtn" class="bg-stone-200 w-14 h-14 rounded-full mx-4">
                                        <i class="material-icons text-black">rotate_right</i>
                                    </button>
                                </div>
                                <div class="p-4">
                                    <div></div>
                                    <button id="downBtn" class="bg-stone-200 w-14 h-14 rounded-full">
                                        <i class="material-icons text-black">arrow_downward</i>
                                    </button>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="tabcontents hidden p-1" id="LiveSpectrum">
            <div class="bg-gray-700 h-[770px] flex items-center justify-center rounded-lg">
                <div class="w-[1700px] rounded-lg border-2 border-teal-600 bg-white">
                  <canvas id="LineChart"></canvas>
                </div>
            </div>
        </div>

        <div class="tabcontents hidden p-1" id="ScanHistory">
            <div class="flex flex-wrap justify-center items-center gap-2">
                <div class="w-1/4 p-4">
                    <canvas id="LineChart1" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart2" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart3" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart4" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart5" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart6" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart7" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart8" class="w-full h-64"></canvas>
                </div>
                <div class="w-1/4 p-4">
                    <canvas id="LineChart9" class="w-full h-64"></canvas>
                </div>
            </div>
        </div>
    
    </div>

</div>

{% endblock %}

{% block scripts %}

<!-- {{ robot.robot_slug|json_script:"json-robotname" }} -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>

<script>
    
    function df_tabs(evt, tabname) {
        var i, tabcontents, tablink;
        tablink = document.getElementsByClassName('tablink');
        for(i=0; i<tablink.length; i++){
            tablink[i].classList.remove("bg-white", "bg-gray-200");
        }
        tabcontents = document.getElementsByClassName('tabcontents');
        for(i=0; i<tabcontents.length; i++){
            tabcontents[i].style.display = 'none';
        }
        document.getElementById(tabname).style.display = "block";
        evt.currentTarget.classList.add("bg-white");
    }

    // Get the element with id="defaultOpenVideoFrame" and click on it
    document.getElementById("defaultOpenLiveScan").click();

    let labels = [0, 1, 2, 3, 4, 5];
    let lineData = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6]; //will be giving websocket data over here

    const data = {
        labels: labels,
        datasets:[{
            data: lineData,
        }]
    };

    const chartAreaBackgroundColor = {
        id: 'chartAreaBackgroundColor',
        beforeDraw(chart, args, plugins){
            const {ctx, chartArea: {top, bottom, left, right, width, height}} = chart;
            ctx.save();
            ctx.fillStyle = 'rgba(0,0,0,0.2)';
            ctx.fillRect(left, top, width, height);
        }
    }

    const config = {
        type: 'line',
        data: data,
        options: {
            scale: {
                x:{
                    title:{
                        display: true,
                        text: 'Frequency (GHz)'
                    }
                },
                y:{
                    title:{
                        display: true,
                        text: 'Amplitude (dBm)'
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: '67.5° Relative'
                },
                chartAreaBackgroundColor,
            },
            aspectRatio: 3,
        }
    };

    const config1 = {
        type: 'line',
        data: data,
        options: {
            scale: {
                x:{
                    title:{
                        display: true,
                        text: 'Frequency (GHz)'
                    }
                },
                y:{
                    title:{
                        display: true,
                        text: 'Amplitude (dBm)'
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: '67.5° Relative'
                },
                chartAreaBackgroundColor,
            },
            aspectRatio: 2,
        }
    };

    const chart = new Chart(
        document.getElementById('LineChart'),
        config
    );

    // Create charts with unique ids
    for (let i = 1; i <= 9; i++) {
        const chartInstance = new Chart(
            document.getElementById(`LineChart${i}`),
            config1
        );
    }

    // const radarData = {
    //     labels: ['Label 1', 'Label 2', 'Label 3', 'Label 4', 'Label 5'],
    //     datasets: [{
    //         label: 'My Radar Dataset',
    //         data: [3, 5, 2, 8, 4], // Example data values
    //         backgroundColor: 'rgba(75, 192, 192, 0.2)', // Fill color
    //         borderColor: 'rgba(75, 192, 192, 1)', // Border color
    //         borderWidth: 2, // Border width
    //         pointBackgroundColor: 'rgba(75, 192, 192, 1)', // Point fill color
    //         pointBorderColor: '#fff', // Point border color
    //         pointHoverRadius: 5, // Point hover radius
    //         pointHoverBackgroundColor: 'rgba(75, 192, 192, 1)', // Point hover fill color
    //         pointHoverBorderColor: 'rgba(220, 220, 220, 1)', // Point hover border color
    //         pointRadius: 4, // Point radius
    //         pointHitRadius: 10 // Point hit radius
    //     }]
    // };

    // // Radar chart options
    // const radarOptions = {
    //     scale: {
    //         ticks: {
    //             beginAtZero: true,
    //             max: 10 // Set the maximum value on the scale
    //         }
    //     },
    //     aspectRatio: 2
    // };

    // // Create radar chart
    // const radarChart = new Chart(document.getElementById('radarChart'), {
    //     type: 'radar',
    //     data: radarData,
    //     options: radarOptions
    // });

    var reMap = function(oldValue) {
        var oldMin = 0,
            oldMax = -359,
            newMin = 0,
            newMax = (Math.PI * 2),
            newValue = (((oldValue - 90 - oldMin) * (newMax - newMin)) / (oldMax - oldMin)) + newMin;

        return newValue;
    }

    var data1 = [
        [reMap(25), 1, 20, 'label 1'],
        [reMap(105), 0.8, 10, 'label 2'],
        [reMap(266), 1, 8, 'label 3'],
        [reMap(8), 0.2, 22, 'label 4'],
        [reMap(189), 1, 28, 'label 5'],
        [reMap(350), 0.6, 15, 'label 6'],
        [reMap(119), 0.4, 24, 'label 7'],
        [reMap(305), 0.8, 31, 'label 8']
    ];

    var width = 600,
        height = 600,
        radius = Math.min(width, height) / 2 - 30; // radius of the whole chart

    var r = d3.scaleLinear()
        .domain([0, 1])
        .range([0, radius]);

    var svg = d3.select('#polarScatterPlot')
        .attr('width', width)
        .attr('height', height)
        .append('g')
        .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

    var gr = svg.append('g')
        .attr('class', 'r axis')
        .selectAll('g')
        .data(r.ticks(5).slice(1))
        .enter().append('g');

    gr.append('circle')
        .attr('r', r);

    var ga = svg.append('g')
        .attr('class', 'a axis')
        .selectAll('g')
        .data(d3.range(0, 360, 30)) // line density
        .enter().append('g')
        .attr('transform', function(d) {
            return 'rotate(' + -d + ')';
        });

    ga.append('line')
        .attr('x2', radius);

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var line = d3.lineRadial()
        .radius(function(d) {
            return r(d[1]);
        })
        .angle(function(d) {
            return -d[0] + Math.PI / 2;
        });

    var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("a simple tooltip");

    svg.selectAll('.point')
        .data(data1)
        .enter()
        .append('circle')
        .attr('class', 'point')
        .attr('transform', function(d) {
            var coors = line([d]).slice(1).slice(0, -1); // removes 'M' and 'Z' from string
            return 'translate(' + coors + ')';
        })
        .attr('r', function(d) {
            return d[2];
        })
        .attr('fill', function(d, i) {
            return color(i);
        })
        .on("click", function(d) {
            console.log(d);
            // return tooltip.style("visibility", "visible");
        });

    // adding labels
    svg.selectAll('.point-label')
        .data(data1)
        .enter().append("text")
        .attr('class', 'point-label')
        .attr('transform', function(d) {
            var coors = line([d]).slice(1).slice(0, -1); // removes 'M' and 'Z' from string
            return 'translate(' + coors + ')';
        })
        .text(function(d) {
            return d[3];
        });
</script>

{% endblock %}