<div class="justify-center items-center w-1/4 rounded-xl border-2 border-black">
    <div class="flex flex-col justify-center items-center mb-4">
        <div class="my-4 font-bold text-2xl">Control Panel</div>
        <div class="flex p-4">
            <div></div>
            <button id="upBtn" class="bg-gray-400 w-14 h-14 rounded-full justify-center items-center">
                <i class="material-icons">arrow_upward</i>
            </button>
            <div></div>
        </div>
        <div class="p-4">
            <button id="leftBtn" class="bg-gray-400 w-14 h-14 rounded-full mx-4">
                <i class="material-icons">rotate_left</i>
            </button>
            <button id="stopBtn" class="bg-gray-400 w-14 h-14 rounded-full mx-4">
                <i class="material-icons">stop</i>
            </button>
            <button id="rightBtn" class="bg-gray-400 w-14 h-14 rounded-full mx-4">
                <i class="material-icons">rotate_right</i>
            </button>
        </div>
        <div class="p-4">
            <div></div>
            <button id="downBtn" class="bg-gray-400 w-14 h-14 rounded-full">
                <i class="material-icons">arrow_downward</i>
            </button>
            <div></div>
        </div>
    </div>
</div>