{% extends 'RosWebApp/base.html' %}

{% block title %}{{ robot.robot_name }} |{% endblock %}

{% block content %}

<div class="flex p-4 justify-center items-center">

    <!-- Robot Info Component -->
    <div class="mx-1 h-[800px]">
        <div class="bg-teal-500 shadow text-white h-full w-80 rounded-xl border-2">
            <div class="m-3">
                <img class="h-64 w-full rounded-md" src="{{ robot.robot_icon.url }}" alt="" srcset="">
            </div>
            <div class="m-3 font-bold text-center text-4xl whitespace-normal">{{ robot.robot_name }}</div>
            <div class="m-3 text-lg whitespace-normal">Type: {{ robot.robot_type }}</div>
            <div class="m-3 text-lg whitespace-normal">Status: <p id="connection-status"></p></div>
            <div class="flex flex-col">
                <button class="bg-white rounded-md p-2.5 m-3 text-teal-800 font-bold text-base">Connect</button>
                <button class="bg-white rounded-md p-2.5 m-3 text-teal-800 font-bold text-base">Disconnect</button>
            </div>
        </div>
    </div>

    <!-- Tabs of Video Frame and Maps -->
    <div class="mx-1 w-[950px]">
        <div class="bg-teal-500 rounded-xl flex items-center justify-center w-[950px] h-[800px]">
            <div class=" bg-white shadow-md rounded-lg overflow-hidden">
                <div class="flex">
                    <button class="tablinks flex-1 px-6 py-4 text-center text-teal-500 hover:bg-teal-100 focus:outline-none" onclick="mytabs(event, 'VideoFrame')" id="defaultOpenVideoFrame">Video Frame</button>
                    <button class="tablinks flex-1 px-6 py-4 text-center text-teal-500 hover:bg-teal-100 focus:outline-none" onclick="mytabs(event, 'Maps')" id="defaultOpenMaps">Maps</button>
                </div>
            
                <div class="tabcontent hidden p-6" id="VideoFrame">
                    <div class="mx-auto w-[890px] h-[682px] rounded-xl border-2 border-teal-500 bg-white p-4">
                        <div class="flex justify-center items-center">
                            <img id="frameImage" src="" alt="Video Frame" class="w-[940px] h-[650px] object-cover rounded-xl">
                        </div>
                    </div>
                </div>
            
                <div class="tabcontent hidden p-6" id="Maps">
                    <div class="mx-auto w-[890px] h-[682px] rounded-xl border-2 border-teal-500 bg-white p-4">
                        <div class="flex justify-center items-center">
                            <div id="map" class=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-1 flex flex-col w-[550px]">

        <!-- Data Display Component -->
        <div class="h-[450px] mb-1">
            <div class="h-full w-full rounded-xl border-2 border-teal-500 bg-white py-3">
                <div class="mb-2 text-center font-bold text-2xl text-black">Sensor Readings</div>
                <table class="min-w-full overflow-hidden">
                    <thead class="bg-teal-500 text-white">
                        <tr>
                            <th class="py-2 px-4 text-left">Global Position</th>
                            <th class="py-2 px-4">latitude</th>
                            <th class="py-2 px-4">longitude</th>
                            <th class="py-2 px-4">altitude</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr>
                            <td class="py-2 px-4">Global Position</td>
                            <td class="py-2 px-4 text-center"><span id="global_position_lat"></span></td>
                            <td class="py-2 px-4 text-center"><span id="global_position_long"></span></td>
                            <td class="py-2 px-4 text-center"><span id="global_position_alt"></span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="my-2 min-w-full overflow-hidden">
                    <thead class="bg-teal-500 text-white">
                        <tr>
                            <th class="py-2 px-4 text-left">Orientation</th>
                            <th class="py-2 px-4">roll</th>
                            <th class="py-2 px-4">pitch</th>
                            <th class="py-2 px-4">yaw</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr>
                            <td class="py-2 px-4">Orientation</td>
                            <td class="py-2 px-4 text-center"><span id="euler_orientation_rol"></span></td>
                            <td class="py-2 px-4 text-center"><span id="euler_orientation_pit"></span></td>
                            <td class="py-2 px-4 text-center"><span id="euler_orientation_yaw"></span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="my-2 min-w-full overflow-hidden">
                    <thead class="bg-teal-500 text-white">
                        <tr>
                            <th class="py-2 px-4 text-left">Odometry</th>
                            <th class="py-2 px-4">x</th>
                            <th class="py-2 px-4">y</th>
                            <th class="py-2 px-4">z</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr>
                            <td class="py-2 px-4">Local Position</td>
                            <td class="py-2 px-4 text-center"><span id="local_position_x"></span></td>
                            <td class="py-2 px-4 text-center"><span id="local_position_y"></span></td>
                            <td class="py-2 px-4 text-center"><span id="local_position_z"></span></td>
                        </tr>
                        <tr>
                            <td class="py-2 px-4">Linear Velocity</td>
                            <td class="py-2 px-4 text-center"><span id="linear_velocity_vx"></span></td>
                            <td class="py-2 px-4 text-center"><span id="linear_velocity_vy"></span></td>
                            <td class="py-2 px-4 text-center"><span id="linear_velocity_vz"></span></td>
                        </tr>
                        <tr>
                            <td class="py-2 px-4">Angular Velocity</td>
                            <td class="py-2 px-4 text-center"><span id="angular_velocity_wx"></span></td>
                            <td class="py-2 px-4 text-center"><span id="angular_velocity_wy"></span></td>
                            <td class="py-2 px-4 text-center"><span id="angular_velocity_wz"></span></td>
                        </tr>
                        <tr>
                            <td class="py-2 px-4">Linear Acceleration</td>
                            <td class="py-2 px-4 text-center"><span id="linear_acceleration_ax"></span></td>
                            <td class="py-2 px-4 text-center"><span id="linear_acceleration_ay"></span></td>
                            <td class="py-2 px-4 text-center"><span id="linear_acceleration_az"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        

        <!-- Controls Component -->
        <div class="h-[350px] mt-1">
            <div class="h-full w-full rounded-xl border-2 border-teal-500 bg-white p-4">
                <div class="justify-center items-center">
                    <div class="flex flex-col justify-center items-center mb-4">
                        <div class="my-4 font-bold text-2xl text-black">Control Panel</div>
                        <div class="flex p-4">
                            <div></div>
                            <button id="upBtn" class="bg-gray-400 w-14 h-14 rounded-full justify-center items-center">
                                <i class="material-icons text-white">arrow_upward</i>
                            </button>
                            <div></div>
                        </div>
                        <div class="p-4">
                            <button id="leftBtn" class="bg-gray-400 w-14 h-14 rounded-full mx-4">
                                <i class="material-icons text-white object-right-bottom">rotate_left</i>
                            </button>
                            <button id="stopBtn" class="bg-gray-400 w-14 h-14 rounded-full mx-4">
                                <i class="material-icons text-white">stop</i>
                            </button>
                            <button id="rightBtn" class="bg-gray-400 w-14 h-14 rounded-full mx-4">
                                <i class="material-icons text-white">rotate_right</i>
                            </button>
                        </div>
                        <div class="p-4">
                            <div></div>
                            <button id="downBtn" class="bg-gray-400 w-14 h-14 rounded-full">
                                <i class="material-icons text-white">arrow_downward</i>
                            </button>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

</div>

{% endblock %}

{% block scripts %}

{{ robot.robot_slug|json_script:"json-robotname" }}

<script>
    const robotName = JSON.parse(document.getElementById('json-robotname').textContent);
    
    const robot_websocket = new WebSocket(
        'ws://' 
        + window.location.host 
        + '/ws/' 
        + robotName 
        + '/'
    );

    robot_websocket.onmessage = function(e){
        const data = JSON.parse(e.data);

        display_data(data);
    }

    robot_websocket.onclose = function(e){
        console.log('onclose')
    }

    robot_websocket.onerror = function(e){
        console.log('Websocket error: ', e);
    }

    function display_data(data) {

        document.getElementById('local_position_x').textContent = data.local_position.x;
        document.getElementById('local_position_y').textContent = data.local_position.y;
        document.getElementById('local_position_z').textContent = data.local_position.z;

        document.getElementById('global_position_lat').textContent = data.global_position.latitude;
        document.getElementById('global_position_long').textContent = data.global_position.longitude;
        document.getElementById('global_position_alt').textContent = data.global_position.altitude;

        document.getElementById('euler_orientation_rol').textContent = data.euler_orientation.roll;
        document.getElementById('euler_orientation_pit').textContent = data.euler_orientation.pitch;
        document.getElementById('euler_orientation_yaw').textContent = data.euler_orientation.yaw;

        document.getElementById('linear_velocity_vx').textContent = data.linear_velocity.vx;
        document.getElementById('linear_velocity_vy').textContent = data.linear_velocity.vy;
        document.getElementById('linear_velocity_vz').textContent = data.linear_velocity.vz;
        
        document.getElementById('angular_velocity_wx').textContent = data.angular_velocity.wx;
        document.getElementById('angular_velocity_wy').textContent = data.angular_velocity.wy;
        document.getElementById('angular_velocity_wz').textContent = data.angular_velocity.wz;

        document.getElementById('linear_acceleration_ax').textContent = data.linear_acceleration.ax;
        document.getElementById('linear_acceleration_ay').textContent = data.linear_acceleration.ay;
        document.getElementById('linear_acceleration_az').textContent = data.linear_acceleration.az;

        if (data.video.frame !== null) {
            const frameImageElement = document.getElementById('frameImage');
                        frameImageElement.src = "data:image/jpeg;base64," + data.video.frame; // Assuming the frame is in JPEG format
        }

    }

    function mytabs(evt, tabname) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("bg-teal-100", "text-teal-700");
        }
        document.getElementById(tabname).style.display = "block";
        evt.currentTarget.classList.add("bg-teal-100", "text-teal-700");
    }

    // Get the element with id="defaultOpenVideoFrame" and click on it
    document.getElementById("defaultOpenVideoFrame").click();
</script>

{% endblock %}



